

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  color: #000;
  /* background-color: rgba(217, 241, 249, 0.455); */
  background-color: rgba(212, 212, 212, 0.455);
}

p {
  color: #000;
}